In [80]:
import pandas as pd

In [81]:
df = pd.read_csv('mission_launches.csv')
df

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

1)

In [82]:
type(df['Date'][0])

str

In [83]:
df['Date'] = pd.to_datetime(df['Date'],format='mixed', dayfirst=False,utc=True)

In [84]:
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
# Convertir 'Date' a datetime y extraer el aÃ±o en una nueva columna
df['AÃ±o'] = df['Date'].dt.year

# Contar el nÃºmero de lanzamientos por aÃ±o
lanzamientos_por_aÃ±o = df.groupby('AÃ±o').size()

# Identificar el aÃ±o con mayor nÃºmero de lanzamientos
aÃ±o_max = lanzamientos_por_aÃ±o.idxmax()
cant = lanzamientos_por_aÃ±o.max()

# Obtener la organizaciÃ³n que tuvo mÃ¡s lanzamientos en ese aÃ±o
org = df[df['AÃ±o'] == aÃ±o_max]['Organisation'].value_counts().idxmax()

print(f'AÃ±o: {aÃ±o_max} - Cantidad: {cant} - OrganizaciÃ³n: {org}')

AÃ±o: 1971 - Cantidad: 119 - OrganizaciÃ³n: RVSN USSR

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

# Extraer el aÃ±o y guardarlo en una nueva columna
df['Year'] = df['Date'].dt.year

# Contar el nÃºmero de lanzamientos por aÃ±o
lanzamientos_por_aÃ±o = df.groupby('Year').size()

lanzamientos_por_aÃ±o

Year
1957      3
1958     28
1959     20
1960     39
1961     52
       ...
2016     90
2017     92
2018    117
2019    109
2020     63
Length: 64, dtype: int64

In [47]:
df= df.dropna(subset=['Price'])
df

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status,AÃ±o,Year
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020,2020
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,2020,2020
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,2020,2020
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020,2020
5,5,5,CASC,"LC-9, Taiyuan Satellite Launch Center, China",2020-07-25 03:13:00+00:00,"Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...",StatusActive,64.68,Success,2020,2020
...,...,...,...,...,...,...,...,...,...,...,...
3855,3855,3855,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1966-07-29 18:43:00+00:00,Titan IIIB | KH-8,StatusRetired,59.0,Success,1966,1966
3971,3971,3971,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA",1965-05-06 15:00:00+00:00,Titan IIIA | LES 2 & LCS 1,StatusRetired,63.23,Success,1965,1965
3993,3993,3993,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA",1965-02-11 15:19:00+00:00,Titan IIIA | LES 1,StatusRetired,63.23,Success,1965,1965
4000,4000,4000,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA",1964-12-10 16:52:00+00:00,Titan IIIA | Transtage 2,StatusRetired,63.23,Success,1964,1964
4020,4020,4020,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA",1964-09-01 15:00:00+00:00,Titan IIIA | Transtage 1,StatusRetired,63.23,Failure,1964,1964

In [50]:
df['Price']

0        50.0
1       29.75
3        65.0
4       145.0
5       64.68
        ...
3855     59.0
3971    63.23
3993    63.23
4000    63.23
4020    63.23
Name: Price, Length: 964, dtype: object

In [70]:
df.loc[:, 'Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [76]:
Agrup = df.groupby('AÃ±o')['Price'].mean().diff()
Agrup

AÃ±o
1964           NaN
1965      0.000000
1966     -4.230000
1967      0.000000
1968      0.000000
1969      0.000000
1970           NaN
1971           NaN
1972           NaN
1973           NaN
1981           NaN
1982   -104.800000
1983     20.960000
1984     13.973333
1985     27.946667
1986    -97.813333
1987   -279.466667
1988    210.650000
1989    139.383333
1990    -91.687879
1991    102.283117
1992    -72.082738
1993    -42.612500
1994    -55.223958
1995    103.490625
1996    -81.803571
1997    -21.457540
1998    -69.616667
1999    -23.610794
2000     44.607321
2001    117.581250
2002   -105.114118
2003   -105.074382
2004     12.224382
2005      3.057451
2006     42.812593
2007    -12.910754
2008      4.053042
2009     50.538882
2010    -31.887097
2011     -1.803448
2012    -24.304552
2013    -31.740485
2014     11.999704
2015    -11.002502
2016    -12.091374
2017     -9.966283
2018     -4.741288
2019     -5.140047
2020     -2.959534
Name: Price, dtype: float64

In [99]:
type(df['Mission_Status'][0])

str

In [119]:
# Agrupar por 'Mes' y contar cuÃ¡ntas filas (lanzamientos) hay por cada mes
lanzamientos_por_mes = df.groupby('Mes').size()

# Encontrar el mes con el mÃ¡ximo nÃºmero de lanzamientos
mes_max = lanzamientos_por_mes.idxmax()

print("El mes con mÃ¡s lanzamientos es:", mes_max)
print(lanzamientos_por_mes)

El mes con mÃ¡s lanzamientos es: 12
Mes
1     268
2     336
3     353
4     383
5     326
6     402
7     351
8     373
9     365
10    381
11    336
12    450
dtype: int64

In [158]:
df['Mission_Status_binaria'] = df['Mission_Status'].map({'Success': 1, 'Fail': 0})
tasa_exito_por_aÃ±o = df.groupby('AÃ±o')['Mission_Status_binaria'].mean()
print(tasa_exito_por_aÃ±o)

AÃ±o
1957    1.0
1958    1.0
1959    1.0
1960    1.0
1961    1.0
       ...
2016    1.0
2017    1.0
2018    1.0
2019    1.0
2020    1.0
Name: Mission_Status_binaria, Length: 64, dtype: float64

C:\Users\Usuario\AppData\Local\Temp\ipykernel_16676\2818858209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mission_Status_binaria'] = df['Mission_Status'].map({'Success': 1, 'Fail': 0})