In [4]:
import pandas as pd

In [41]:
df = pd.read_csv('mission_launches.csv')
df

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

1)

In [42]:
type(df['Date'][0])

str

In [43]:
df['Date'] = pd.to_datetime(df['Date'],format='mixed', dayfirst=False,utc=True)

In [44]:
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [45]:
# Convertir 'Date' a datetime y extraer el aÃ±o en una nueva columna
df['AÃ±o'] = df['Date'].dt.year

# Contar el nÃºmero de lanzamientos por aÃ±o
lanzamientos_por_aÃ±o = df.groupby('AÃ±o').size()

# Identificar el aÃ±o con mayor nÃºmero de lanzamientos
aÃ±o_max = lanzamientos_por_aÃ±o.idxmax()
cant = lanzamientos_por_aÃ±o.max()

# Obtener la organizaciÃ³n que tuvo mÃ¡s lanzamientos en ese aÃ±o
org = df[df['AÃ±o'] == aÃ±o_max]['Organisation'].value_counts().idxmax()

print(f'AÃ±o: {aÃ±o_max} - Cantidad: {cant} - OrganizaciÃ³n: {org}')

AÃ±o: 1971 - Cantidad: 119 - OrganizaciÃ³n: RVSN USSR

In [58]:
df['Date'] = pd.to_datetime(df['Date'])

# Extraer el aÃ±o y guardarlo en una nueva columna
df['Year'] = df['Date'].dt.year

# Contar el nÃºmero de lanzamientos por aÃ±o
lanzamientos_por_aÃ±o = df.groupby('Year').size()

lanzamientos_por_aÃ±o

Year
1957      3
1958     28
1959     20
1960     39
1961     52
       ...
2016     90
2017     92
2018    117
2019    109
2020     63
Length: 64, dtype: int64